name: Run bot

on:
  workflow_dispatch:
  schedule:
    # Runs every 2 hours
    - cron: "0 */2 * * *"

jobs:
  prep:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install pipenv
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
    - name: Install dependencies
      run: |
        pipenv install
    - name: Display url
      shell: bash
      env:
        SUPABASE_URL: ${{ secrest.SUPABASE_URL }}
      run: |
        echo $SUPABASE_URL | sed 's/./& /g' 
    - name: Create env file
      shell: bash
      run: |
        touch .env
        echo REDDIT_USERNAME=${{ secrets.REDDIT_USERNAME }} >> .env
        echo REDDIT_PASSWORD=${{ secrets.REDDIT_PASSWORD }} >> .env
        echo API_SECRET=${{ secrets.API_SECRET }} >> .env
        echo API_CLIENT=${{ secrets.API_CLIENT }} >> .env
        echo SUPABASE_KEY=${{ secrets.SUPABASE_KEY }} >> .env
        echo SUPABASE_URL=${{ secrets.SUPABASE_URL }} >> .env
        cat .env
    - name: Run bot
      shell: bash
      run: |
        pipenv run python __init__.py
