name: Run bot
on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - shell: bash
        env:
          "REDDIT_USERNAME" : ${{ secrets.REDDIT_USERNAME }}
        run: |
          echo "$REDDIT_USERNAME"
